<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Sign in</h1>
    {% if error %}
    <h2>{{error}}</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Username</label>
        <input for="username" name="username"type="text">
        <label>password</label>
        <input for="password" name="password" type="password">
        <button type="submit">Sign in</button>
    </form>
</body>
</html>